.cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;
}
.cell:hover {
    background: #d57a66;
}
.dead {
    background-color: #b2c9ab;
    border: 1px solid #3cbbb1;
}
.live {
    background-color: #3cbbb1;
    border: 1px solid #b2c9ab;
}
