.game {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-position: center;
}
.game .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    border-bottom: 2px solid white;
}

.game .top h4 {
    margin: 0;
}

.game .main {
    width: 100%;
    margin: 0;
    display: center;
    flex-direction: column;
    align-self: center;
}